#extDiv{
	border-color: #333333;
	width: 70%; 
	height: 635px; 
	padding-left: 200px;
}
#intRightDiv{
	align-content: right; 
	border-color: #333333; 
	width: 35%;
	height: 435px; 
	border-style: solid; 
	border-width: 2px;  
	position:absolute;
	Right:100px;
}

#intLeftDiv{
	align-content: left; 
	border-color: #333333; 
	width: 30%;
	height: 435px; 
	border-style: solid; 
	border-width: 2px;
	position:fixed;
}

.msgDiv{
	width: 55%; 
	height: 435px; 
	padding-top: 100px;
}